[Desktop Entry]
Type=Application
Icon=/usr/local/SRB2Kart/SRB2KartIcon.png
Name=Sonic Robo Blast 2 Kart
Comment=A kart racing mod based on the 3D Sonic the Hedgehog fangame Sonic Robo Blast 2, based on a modified version of Doom Legacy.
Exec=bash -c 'cd /usr/local/SRB2Kart; /usr/local/SRB2Kart/SRB2Kart.sh'
Terminal=false
Categories=Game
