[Desktop Entry]
Type=Application
Icon=/usr/share/SRB2Kart/SRB2KartIcon.png
Name=Sonic Robo Blast 2 Kart
Exec=bash -c 'cd /usr/share/SRB2Kart/assets/installer; /usr/share/SRB2Kart/SRB2Kart.sh'
Terminal=false
Categories=Game
