[Desktop Entry]
Type=Application
Terminal=true
Hidden=false
Name=CSE2
Icon=/usr/CaveStoryIcon.png
Categories=Games
Exec=/usr/share/CSE2/game_english/CaveStory.sh
