[Desktop Entry]
Version=1.0
Icon=metaforce-gui
Exec=metaforce-gui
Terminal=false
Type=Application
Categories=Game
Name=Metaforce
GenericName=Game Data Prep Tool
Comment=Engine re-implementation & data interchange for Retro Studios games
Hidden=false
Keywords=Metaforce;Metroid;Prime
Actions=RunwithoutmenuUI;

PrefersNonDefaultGPU=true

[Desktop Action RunwithoutmenuUI]
Exec=metaforce
Name=Run without menu UI
